{% extends 'template.html.twig' %}

{% block title %}Liste des candidats{% endblock %}

{% block PageTitle %}
Liste des Candidats
{% endblock %}

{% block body %}
<div class="row">

    {% for candidat in candidats %}
    <div class="col-sm-3">
        <div class="card  m-1">
            <div class="card-body">
                <h5 class="card-title text-capitalize">{{candidat.firstname}} {{candidat.lastname}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Age : {{candidat.age}} ans</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>


                <a href="{{path('candidat-detail', {id:candidat.id})}}" class="card-link">Détails</a>
                {# <a href="{{ path('candidats-delete', {id: candidat.id}) }}" class="card-link">Delete</a> #}
                <a href="{{ path('candidats-edit', {id: candidat.id}) }}" class="card-link">Editer</a>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if isPaginated is defined and isPaginated %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page != 1 %}

            <li class="page-item">
                <a class="page-link" href="{{path('pagination',{page:page-1, nbr:nbr} )}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for i in range(1,nbPages) %}
            <li class="page-item"><a class="page-link" href="{{path('pagination',{page:i, nbr:nbr} )}}">{{i}}</a></li>
            {% endfor %}

            {% if page != nbPages %}
            <li class="page-item">
                <a class="page-link" href="{{path('pagination',{page:page+1, nbr:nbr} )}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% endif %}


</div>


{% endblock %}