{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}

{% for message in app.session.flashBag.get('info') %}
<div class="alert alert-info">{{message}}</div>    
{% endfor %}
{% for message in app.session.flashBag.get('success') %}
<div class="alert alert-success">{{message}}</div>    
{% endfor %}
{% for message in app.session.flashBag.get('error') %}
<div class="alert alert-danger">{{message}}</div>    
{% endfor %}

<div class="container">
    <h1 class="mb-5">My Todo List</h1>
    <ol class="list-group">
        {% for name,content in app.session.get('todos') %}
        <li class="list-group-item">{{name}} : {{content}}</li>                 
        {% endfor %}
    </ol>

</div>
{% endblock %}
